<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout1/singleLayout">

<th:block layout:fragment="title">
    <title>single</title>
</th:block>

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/custom/css/single.css}"/>
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/custom/js/single.js}"></script>
    <script th:inline="javascript">
    $(document).ready(function () {
        console.log('single ready');
    });
    </script>
</th:block>


<div layout:fragment="content" class="container">
<hr>
	<ul>
	    <li><a th:href="@{/}">Single Layout</a></li>
	    <li><a th:href="@{/multiple}">Multiple Layout</a></li>
	    <li><a th:href="@{/deptList}">DEPT List</a></li>
	</ul>
<hr>    
<table class="table">
    <tr>
        <td>부서번호</td>
        <td th:text="${deptDto.deptno}"/>
    </tr>
    <tr>
    	<td>부서명</td>
    	<td th:text="${deptDto.dname}"/>
    </tr>
    <tr>
        <td>부서 위치</td>
    	<td th:text="${deptDto.loc}"/>
    </tr>
</table>


</div>
</html>